.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.container {
    background-color: lightgray;
    height: 600px;
    width: 600px;
    margin-bottom: 30px;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
}

.container-1 .child:nth-child(1) {
    height: 200px;
    width: 200px;
}

.container-1 .child:nth-child(2) {
    height: 200px;
    width: 400px;
}

.container-1 .child:nth-child(3) {
    height: 200px;
    width: 400px;
}

.container-1 .child:nth-child(4) {
    height: 200px;
    width: 200px;
}

.container-1 .child:nth-child(5) {
    height: 200px;
    width: 200px;
}

.container-1 .child:nth-child(6) {
    height: 200px;
    width: 400px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-2 .child:nth-child(1),
.container-2 .child:nth-child(4),
.container-2 .child:nth-child(5) {
    height: 200px;
    width: 200px;
}

.container-2 .child:nth-child(2),
.container-2 .child:nth-child(3),
.container-2 .child:nth-child(6) {
    height: 400px;
    width: 200px;
}



.container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* .container-3 .child:nth-child(1) {
    height: 400px;
    width: 400px;
  }
  .container-3 .child:nth-child(2),
  .container-3 .child:nth-child(3),
  .container-3 .child:nth-child(4),
  .container-3 .child:nth-child(5),
  .container-3 .child:nth-child(6) {
    height: 200px;
    width: 200px;
  } */
/* .container-3 .child {
    height: 200px;
    width: 200px;
  }
  .container-3 .child:nth-child(1) {
    height: 400px;
    width: 400px;
  } */
.container-3 .inner-container:nth-child(1) {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-3 .inner-container:nth-child(1) .child:nth-child(1) {
    width: 400px;
    height: 400px;
}

.container-3 .inner-container:nth-child(1) .child:nth-child(2),
.container-3 .inner-container:nth-child(1) .child:nth-child(3) {
    width: 200px;
    height: 200px;
}

.container-3 .inner-container:nth-child(2) {
    height: 200px;
    display: flex;
}

.container-3 .inner-container:nth-child(2) .child {
    height: 200px;
    width: 200px;
}

.container-4 {
    display: flex;
    flex-wrap: wrap;
}

.container-4 .inner-container-1 {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-4 .inner-container-1 .child:nth-child(1),
.container-4 .inner-container-1 .child:nth-child(3) {
    width: 240px;
    height: 150px;
}

.container-4 .inner-container-1 .child:nth-child(2) {
    width: 120px;
    height: 150px;
}

.container-4 .inner-container-2 {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-4 .inner-container-2 .child:nth-child(1),
.container-4 .inner-container-2 .child:nth-child(2) {
    width: 150px;
    height: 150px;
}

.container-4 .inner-container-2 .child:nth-child(4),
.container-4 .inner-container-2 .child:nth-child(5) {
    width: 150px;
    height: 150px;
}

.container-4 .inner-container-2 .child:nth-child(3) {
    width: 300px;
    height: 300px;
}

.container-4 .inner-container-3 {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-4 .inner-container-3 .child:nth-child(1),
.container-4 .inner-container-3 .child:nth-child(3) {
    width: 240px;
    height: 150px;
}

.container-4 .inner-container-3 .child:nth-child(2) {
    width: 120px;
    height: 150px;
}

.container-5 {
    display: flex;
    flex-wrap: wrap;
}

.container-5 .inner-container-1 {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.container-5 .inner-container-1 .child:nth-child(1) {
    width: 200px;
    height: 200px;
}

.container-5 .inner-container-1 .child:nth-child(2) {
    width: 400px;
    height: 200px;
}

.container-5 .inner-container-2 {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.container-5 .inner-container-2 .child.pink {
    width: 200px;
    height: 200px;
}

.children-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
}

.children-container .child {
    height: 50%;
    width: 50%;
}


.container-5 .inner-container-3 {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.container-5 .inner-container-3 .child:nth-child(1) {
    width: 400px;
    height: 200px;
}

.container-5 .inner-container-3 .child:nth-child(2) {
    width: 200px;
    height: 200px;
}

.container-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-6 .child.green {
    height: 300px;
    width: 600px;
}

.container-6 .inner-container-1 {
    height: 300px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.container-6 .inner-container-1 .child:nth-child(1),
.container-6 .inner-container-1 .child:nth-child(2) {
    width: 100px;
    height: 150px;
}

.container-6 .inner-container-1 .child:nth-child(3) {
    width: 200px;
    height: 150px;
}

.container-6 .child.black,
.container-6 .child.yellow {
    width: 200px;
    height: 300px;
}

.container-7 .inner-container-1,
.container-7 .inner-container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
}

.container-7 .inner-container-1 .child:nth-child(1),
.container-7 .inner-container-2 .child:nth-child(3) {
    width: 450px;
    height: 300px;
}

.container-7 .inner-container-1 .child:nth-child(2),
.container-7 .inner-container-1 .child:nth-child(3),
.container-7 .inner-container-2 .child:nth-child(1),
.container-7 .inner-container-2 .child:nth-child(2) {
    width: 150px;
    height: 150px;
}

.container-8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-8 .child.green {
    height: 300px;
    width: 600px;
}

.container-8 .inner-container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 600px;
    justify-content: flex-end;
}

.container-8 .inner-container-1 .child:nth-child(1),
.container-8 .inner-container-1 .child:nth-child(2),
.container-8 .inner-container-1 .child:nth-child(4),
.container-8 .inner-container-1 .child:nth-child(5) {
    height: 150px;
    width: 200px;
}

.container-8 .inner-container-1 .child:nth-child(3) {
    height: 300px;
    width: 200px;
}

.container-9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container-9 .inner-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% / 3);
}

.container-9 .inner-container-1 .child:nth-child(1) {
    height: 50%;
    width: 100%;
}

.container-9 .inner-container-1 .red,
.container-9 .inner-container-1 .blue {
    height: 20%;
    width: 50%;
}

.container-9 .inner-container-1 .child:nth-child(4) {
    height: 30%;
    width: 100%;
}

.container-9 .inner-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% /3 *2);
}

.container-9 .inner-container-2 .child:nth-child(1),
.container-9 .inner-container-2 .child:nth-child(2),
.container-9 .inner-container-2 .child:nth-child(3) {
    height: 20%;
    width: calc(100% / 3);
}

.container-9 .inner-container-2 .child:nth-child(4) {
    height: 60%;
    width: 100%;
}


.container-9 .inner-container-2 .mini {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    flex-wrap: wrap;

}

.container-9 .inner-container-2 .mini .child:nth-child(1) {
    height: 100%;
    width: 70%;
}

.container-9 .inner-container-2 .mini .child:nth-child(2),
.container-9 .inner-container-2 .mini .child:nth-child(3) {
    height: 50%;
    width: 30%;
}



.container-10 .inner-container-1,
.container-10 .inner-container-2,
.container-10 .inner-container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% / 3);
}

.container-10 .inner-container-1 .child:nth-child(1),
.container-10 .inner-container-3 .child:nth-child(1) {
    width: 50%;
    height: 100%;
}

.container-10 .inner-container-1 .child:nth-child(2),
.container-10 .inner-container-1 .child:nth-child(3),
.container-10 .inner-container-3 .child:nth-child(2),
.container-10 .inner-container-3 .child:nth-child(3) {
    height: 50%;
    width: calc(50%/ 3);
}

.container-10 .inner-container-1 .child:nth-child(4),
.container-10 .inner-container-3 .child:nth-child(4) {
    height: 100%;
    width: calc(100% / 3);
}

.container-10 .inner-container-2 .child:nth-child(4) {
    width: 50%;
    height: 100%;
}

.container-10 .inner-container-2 .child:nth-child(2),
.container-10 .inner-container-2 .child:nth-child(3) {
    height: 50%;
    width: calc(50%/ 3);
}

.container-10 .inner-container-2 .child:nth-child(1) {
    height: 100%;
    width: calc(100% / 3);
}


.container-11 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-11 .child:nth-child(1) {
    height: 80%;
    width: 100%;
}

.container-11 .child:nth-child(2),
.container-11 .child:nth-child(3),
.container-11 .child:nth-child(4),
.container-11 .child:nth-child(5),
.container-11 .child:nth-child(6) {
    height: 20%;
    width: calc(20%);
}

.container-12 {
    display: flex;
    flex-direction: row;
}

.container-12 .child:nth-child(1),
.container-12 .child:nth-child(2),
.container-12 .child:nth-child(3),
.container-12 .child:nth-child(4),
.container-12 .child:nth-child(5),
.container-12 .child:nth-child(6) {
    height: 100%;
    width: 20%;
}

.container-13 {
    display: flex;
    flex-direction: column;
}

.container-13 .child:nth-child(1),
.container-13 .child:nth-child(2),
.container-13 .child:nth-child(3),
.container-13 .child:nth-child(4),
.container-13 .child:nth-child(5),
.container-13 .child:nth-child(6) {
    height: 20%;
    width: 100%;
}

.container-14 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-14 .inner-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
}

.container-14 .inner-container-1 .child:nth-child(1),
.container-14 .inner-container-1 .child:nth-child(2) {
    height: calc(100% / 3);
    width: 50%;
}

.container-14 .inner-container-1 .child:nth-child(3) {
    height: calc(100% / 3 * 2);
    width: 100%;
}

.container-14 .inner-container-2,
.container-14 .inner-container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
}

.container-14 .inner-container-2 .child:nth-child(1),
.container-14 .inner-container-3 .child:nth-child(1) {
    height: 100%;
    width: 50%;
}

.container-14 .inner-container-2 .child:nth-child(2),
.container-14 .inner-container-2 .child:nth-child(3),
.container-14 .inner-container-2 .child:nth-child(4),
.container-14 .inner-container-3 .child:nth-child(2),
.container-14 .inner-container-3 .child:nth-child(3),
.container-14 .inner-container-3 .child:nth-child(4) {
    height: calc(100% / 3);
    width: 50%;
}

.container-14 .inner-container-4 {
    height: 50%;
    width: 50%;
    background-color: aqua;
}

.container-15 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-15 .inner-container-1,
.container-15 .inner-container-2,
.container-15 .inner-container-3,
.container-15 .inner-container-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
}

.container-15 .inner-container-1 .child,
.container-15 .inner-container-3 .child {
    height: 100%;
    width: calc(100% / 3);
}


.container-15 .inner-container-2 .child,
.container-15 .inner-container-4 .child {
    height: 100%;
    width: 25%;
}


.container-16 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-16 .inner-container-1 {
    height: calc(100% / 3);
    width: 100%;
    background-color: green;
}

.container-16 .inner-container-2 {
    height: calc(100% / 3);
    width: 100%;
    background-color: blue;
}

.container-16 .inner-container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% / 3);
    width: 100%;
}

.container-16 .inner-container-3 .child:nth-child(1),
.container-16 .inner-container-3 .child:nth-child(4) {
    height: 100%;
    width: 25%;
}

.container-16 .inner-container-3 .child:nth-child(2),
.container-16 .inner-container-3 .child:nth-child(3),
.container-16 .inner-container-3 .child:nth-child(5),
.container-16 .inner-container-3 .child:nth-child(6) {
    height: 50%;
    width: 25%;
}

.container-17 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.container-17 .inner-container-1 {
    height: 100%;
    width: 50%;
    background-color: green;
}

.container-17 .inner-container-2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.container-17 .inner-container-2 .child:nth-child(1),
.container-17 .inner-container-2 .child:nth-child(4) {
    height: 25%;
    width: 100%;
}

.container-17 .inner-container-2 .child:nth-child(2),
.container-17 .inner-container-2 .child:nth-child(3),
.container-17 .inner-container-2 .child:nth-child(5),
.container-17 .inner-container-2 .child:nth-child(6) {
    height: 25%;
    width: 50%;
}

.container-18 {
    display: flex;
    flex-direction: row;
}

.container-18 .inner-container-1,
.container-18 .inner-container-2,
.container-18 .inner-container-3 {
    display: flex;
    height: 100%;
    width: calc(100% / 3);
    flex-direction: column;
}

.container-18 .inner-container-1 .child,
.container-18 .inner-container-3 .child {
    width: 100%;
    height: calc(100% / 3);
}

.container-18 .inner-container-2 .child {
    width: 100%;
    height: 50%;
}

.container-19 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-19 .inner-container-1 {
    height: calc(100% / 3 * 2);
    width: calc(100% / 3 * 2);
    background-color: rgb(144, 23, 43);
}

.container-19 .inner-container-2 {
    height: calc(100% / 3 * 2);
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.container-19 .inner-container-2 .child:nth-child(1) {
    height: 50%;
    width: 100%;
}

.container-19 .inner-container-2 .mini-1 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-19 .inner-container-2 .mini-1 .child {
    height: 50%;
    width: 50%;
}

.container-19 .inner-container-3 {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-19 .inner-container-3 .child:nth-child(1),
.container-19 .inner-container-3 .child:nth-child(3) {
    height: 100%;
    width: calc(100% / 3);
}


.container-19 .inner-container-3 .mini-2 {
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-19 .inner-container-3 .mini-2 .child {
    height: 50%;
    width: 50%;
}

.container-20 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-20 .child {
    height: calc(100% / 3);
    width: 25%;
}